/*
 Meta-data information
*/

manifest {
	description = 'This pipeline calculates IDR values.'
	mainScript = 'IDR.nf'
	nextflowVersion = '20.04.1'
	version = '0.0.2'
	author = 'Yuvia A. PEREZ RICO'
}

/*
 Initialize parameters
*/

params {
	sampleInfo = '/scratch/user/sampleDescription_replicates.txt'
	outDir = '/home/user/Documents/idr'
	peakType = 'narrowPeak'
	peakRank = 'q.value'
	replicates = 0
	pseudoReps = 0
	selfConsist = 1
}

/*
 Set process requirements
*/

process {
	executor = 'slurm'
	scratch = '/scratch/user'
	cpus = 1

	withName: get_program_versions {
		memory = 100.MB
		time = 30.s
	}

	withName: split_bams {
		time = 4.h
		memory = 100.GB
		cpus = 10
	}

	withName: macs2_peaks {
		time = 50.m
		memory = 10.GB
	}

	withName: idr {
		memory = 5.GB
		time = 15.m
	}

}


